@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$white-color: #F0F7F4;
$pink-color: #EF798A;
$green-color: #99E1D9;
$blue-color: #70ABAF;
$brown-color: #705D56;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    background-color: $white-color;
    font-family: 'PT Sans', sans-serif;
}