
.todo {
    padding: 2rem;
    margin: 2rem;
    font-size: 1rem;
    color: $pink-color;
    &__text {
        font-size: 1.4rem;
    }
}

.todox {
    position: relative;
}

.todox__btn {
    display: flex;
    position: absolute;
    top: 80%;
    left: 60%;

    div {
        padding: .7rem;
        border-radius: 2rem;
        &:hover {
            cursor: pointer;
            background-color: rgba(128, 128, 128, 0.123);
        }
    }
}






@media (max-width: 768px) {
    .todo__others__buttons {
        button{
            height: 10vh;
        }
    }
  }