
.todo {
    padding: 2rem;
    border: 2px solid $green-color;
    margin: 2rem;
    font-size: 1rem;
    &__text {
        font-size: 1.4rem;
    }
    &__others {
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        &__dyn {
            display: flex;
            * {
                margin-right: 2rem;
            }
        }
        &__buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                height: 5vh;
                text-align: center;
                font-weight: 600;
                border: none;
                color: white;
                padding: .5rem;
                &:hover {
                    cursor: pointer;
                    outline: 2px solid $black-color;
                }
            }
        }
        
    }
}

.success {
    background-color: green;

}
.fail {
    background-color: red;
}